:root {
    --paragraphtextcolor: #757575;
    --titletextcolor: #212121;
    --accent: #2196F3;
    --cardsbcg: #FFFFFF;
    --teambcg: #F5F4FA;
    --headerbcg: #FFFFFF;
    --herobcg: #2F303A;
    --solutionsbcg: #FFFFFF;
    --worksbcg: #FFFFFF;
    --footerbcg: #2F303A;
}

body {
   font-family: "Roboto", sans-serif;
    color: #757575;
    background-color: #FFF;
}

ul {
    list-style:none;
    padding: 0;
    margin: 0;
}

/* цвет основого текста параграфов #757575 */

/* цвет заголовков #212121 */

/* цвет хедера #ECECEC */

/* цвет решения для бизнеса #2F303A */

/* цвет чем мы занимаемся #2F303A */

.conteiner {
    margin-right: auto;
    margin-left: auto;
    width: 1600px;
    outline: 2px solid tomato;
}
.header {
    display: inline-block;
    height: 80px;
    background-color: var(--headerbcg);
    
}



.logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;


color: var(--accent);
}
.logo1 {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;


color: #000000;
}

/* site-nav */

.site-nav {
    display: flex;
}
.site-nav a {
    text-decoration: none;
}

.site-nav .item {
    outline: 2px solid tomato;
    margin-right: 50px;
}

.link {
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #212121;
 
cursor: pointer;
}

.link:hover,
.link:focus {
text-decoration: none;
   color: var(--accent)
}

.link-current {
    color: var(--accent)    
}

.contacts .link {
    color: #757575;
}

.contacts {
    display:flex;
}

.contacts .item {
    margin-right: 50px;
    display: flex;
    outline: 2px solid tomato
}
.contacts, .link:hover,
.contacts, .link:focus {
    color: var(--accent)  
}

.nav {
    display: flex;
}

/* hero */

.hero-title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 900;
font-size: 44px;
line-height: 1,36;
letter-spacing: 0.06em;
text-transform: uppercase;

    color: #FFFFFF;
}

.hero {  
    display:inline-block;  
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 452px;
    padding-right: 452px;
height: 600px;
    text-align: center;
    background: var(--herobcg);
}

.button {
    display: inline-block;
    font-weight: 700;
font-size: 16px;
line-height: 1,88;
text-align: center;
letter-spacing: 0.06em;
font-family: inherit;

    color: #FFFFFF;
    background-color: var(--accent);

    cursor: pointer;
}

.button.order {
display: inline-block;
padding: 10px 32px;
min-width: 200px;
height: 50px;
border: solid transparent;
border-radius: 4px;
background-color: var (--accent);

}

/* Наши преимущества section solutions */

.solutions {
    padding-top: 100px;
    padding-bottom: 94px;
    background-color: var(--solutionsbcg);

}

.solutions-title {
    margin: 0;
    margin-bottom: 9,41px;
color: var(--titletextcolor);
}

.solutions-text {
    color: var(--paragraphtextcolor);
}

.section-title {
    margin: 0;
    margin-bottom: 50px;
    color: var(--titletextcolor);
    text-align: center;
}

.solutions-text{
    margin-bottom: 94px;
}

.solutions.image {
    display:flex
}
/* наша команда */

.team {
 padding-top: 100px;
    padding-bottom: 94px;
   background-color: var(--teambcg);
}

.team-list {
    display: flex;
}

.cards {
    
    background-color: white;
}

.team .upperphotounderline {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
font-size: 16px;
line-height: 1,9;
    
color: var(--titletextcolor)
}

.bottomphotounderline {
    margin: 0;
    color: var(--paragraphtextcolor);
}

/* portfolio */

/* works */

.main-portfolio {
    background-color: var(--worksbcg);
}

.nav-portfolio {
    background-color: #FFFFFF;
}

.works .upperphotounderline {
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: var(--titletextcolor)
}

/* footer */

.footer {
      display:inline-block;
    padding-top: 60px;
   padding-bottom: 60px; 
    width: 1600px;
height: 252px;
    background-color: var(--footerbcg);
}


/* footer logo */

footer a {
  
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;


color: var(--accent);

}
.logo2 {
    font-family: 'Raleway';
font-style: normal; 
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;


color: #FFFFFF;
}

.streetadres {
    font-style: normal;
    font-weight: 400;
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
  text-decoration: none;

  color: #FFFFFF;
  
}

.streetadres:hover,
.streetadress:focus 
{
   color: var(--accent)
}

.mail, .phone {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;

color: #FFFFFF99;
text-decoration: none;
}

.mail:hover {
   color: var(--accent)
}

.phone:hover {
   color: var(--accent)
}

.nav-portfolio button {
    background-color: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 1,62;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.nav-portfolio button:hover,
.nav-portfolio button:focus {
    color: #FFFFFF;
  background-color: var(--accent);
}

